{% extends "novocode_index/base.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="main-content">
    <div class="container-fluid section text-center">
        <h1 class="m-0">{{ problem.name }}</h1>
    </div>
    {% for block in blocks %}
    <div class="container-fluid section">
        {% if block.title %}
        <h2>{{ block.title }}</h2>
        {% endif %}
        <div>{{ block.content }}</div>
    </div>
    {% endfor %}
    <div class="container-fluid section">
        {% if user.is_authenticated %}
        <h2>Submit</h2>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy }}
            <input class="btn w-100 fs-5 py-3 btn-primary" type="submit" value="Submit">
        </form>
        {% else %}
        <span>
            <strong>You have to be logged in to send solutions</strong>
        </span>
        {% endif %}
    </div>
</div>

{% endblock body %}
