{% extends "novocode_index/base.html" %}
{% block body %}
<div class="main-content">
    <div class="section">
        <h1>Submission</h1>
        <p>ID: <span class="font-monospace">{{submission.token}}</span></p>
        <p>Timestamp: {{submission.timestamp}}</p>
        <p>Problem: {{submission.problem}}</p>
        <p>Compiler: {{submission.compiler}}</p>
        <p>Verdict: {{submission.verdict|safe}}</p>
    </div>
    <div class="section">
        <h2>Source</h2>
        <pre>{{source}}</pre>
    </div>
</div>
{% endblock %}
