{% extends "novocode_index/base.html" %}
{% block body %}
<h1>Submissions</h1>
{% for submission in submissions|slice:"0:" %}
<div class="container py-2 my-3 d-flex align-items-center section">
    <div class="fs-5 mx-2">{{submission.problem}}</div>
    <div class="mx-2 ms-auto entry-field"><i class="bi bi-star mx-2"></i>{{submission.verdict |safe}}</div>
    <div class="mx-2 entry-field-large"><i class="bi bi-clock mx-2"></i>{{submission.timestamp}}</div>
    <div class="mx-2 entry-field-small"><a href="{% url 'submission' token=submission.token %}">Details</a></div>
</div>
{% endfor %}
{% endblock body %}

